<div class="navbar">
  <div class="brand">
    <h2>Cocktails club</h2>
  </div>
  <div class="tab">
    <h3><%= link_to "Les cocktails", cocktails_path %></h2>
    <h3><%= link_to "Proposer un cocktail", cocktails_path %></h2>
  </div>
</div>

