



<!-- <div class="all-page">

  <div class="vertical-banner">
    <h2>Cocktail club</h2>
    <h1>It's time </h1>
    <h1>for cocktails</h1>
  </div>

  <div class="cocktails">

    <div class="menu">
      <h1>Cocktail Menu</h1>
    </div>

    <div class="all-cocktails">
      <% @cocktails.each #do |cocktail| %>
        <% #case cocktail.name %>
        <% #when "Mojito" %>
          <p><%#= image_tag('ginto.png') %><%#= cocktail.name %></p>
        <% #when "Cuba Libre" %>
          <p><%#= image_tag('cubalibre.png') %><%#= cocktail.name %></p>
        <% #when "Pina Colada" %>
          <p> <%#= image_tag('pinacolada.png') %><%#= cocktail.name %></p>
        <% #when "Magarita" %>
          <p><%#= image_tag('margarita.png') %><%#= cocktail.name %></p>
        <% #else %>
          <p><%#= image_tag('martini.png') %><%#= cocktail.name %></p>
        <% #end %>
      <% #end %>
    </div>

  </div>

</div>
 -->












<!-- <div class="all-page">
  <div class="vertical-banner">

    <h2>Cocktail Club</h2>
    <h3>It's time for ...</h3>
    <h1>Cocktails</h1>
    <div class="glass">

    </div>
  </div>

  <div class="all-cocktails">
    <div class="menu">
      <h1>Cocktail Menu</h1>
    </div>
    <div class="cocktails">

    </div>
  </div>
</div>
 -->
