.all-page {
  display: flex;
}

.vertical-banner {
  background-color: #e9bc94;
  height: 100vh;
  width: 20%;
  h3 {
    padding-left: 6px;
    padding-top: 30%;
    color: #1d193a;
    font-size: 18px;
  }
  h1 {
    padding-top: 5%;
    padding-left: 6px;
    color: #1d193a;
    text-align: center;
  }
  h2 {
    padding-top: 20%;
    color: #1d193a;
    text-align: center;
    font-size: 18px;
  }
}

.glass {
  img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    align-items: center;
  }
}

.all-cocktails {
  p {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    color: #e9bc94;
    font-size: 20px;
    align-items: center;
    height: 17%;
  }
  img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
  }
}
