<%= render "components/navbar" %>

<div class="main-card">
  <div class="title">
    <h1>Cocktail of the week</h1>
    <p>by Anaïs</p>
  </div>

  <div class="cocktail-week-card">

    <div class="cocktail-week-picture">
      <%= image_tag('cocktails.jpg') %>
    </div>

    <div class="cocktail-week-description">
      <div class="cocktail-week-name">
        <h1>Saint Germain Spritz</h1>
      </div>
      <div class="cocktail-week-intro">
        <p>Avec cette version fraîche et florale, la liqueur St-Germain apporte
          sa touche personnelle à l’emblématique cocktail spritz, laissant ainsi
          toute son amertume de côté.</p>
        <p>Grâce à sa recette aux fleurs de sureau, St-Germain transforme ce grand
          classique des cocktails en une boisson originale.</p>
      </div>
      <div class="quote">
        <p>" <span>Le touche fraîcheur de vos apéritifs ensoleillés</span> "</p>
      </div>

    </div>
  </div>
</div>

