.navbar {
  height: 60px;
  align-items: baseline;
}

.brand {
  display: flex;
  h2 {
    color: white;
    font-size: 40px;
  }
}

.tab {
  display: flex;
  h3 {
    a {
    color: white;
    font-size: 30px;
    margin: 0 60px;
    text-decoration: none;
    }
  }
}
